@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Montserrat";
  src: url("./assets/fonts/Montserrat-VariableFont_wght.ttf")
    format("truetype-variations");
  font-weight: 1 999;
}

:root {
  overflow-y: scroll;
  font-family: "Montserrat";
  line-height: 1.5;
  font-weight: 400;
  color: rgb(73, 73, 112);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.logo-stroke-color {
  stroke: rgb(42, 42, 63);
}

a,
button {
  transition: color 0.15s ease;
}

a:hover {
  color: #535bf2;
}

button:hover {
  color: #535bf2;
}

a:focus {
  outline: none;
}

h1 {
  /* font-size: 3.2em; */
  line-height: 1.1;
}

body {
  background: url("./assets/img-noise-200x200-v4.png") repeat;
}
